@font-face {
  font-family: 'roboto';
  src: url('fonts/ROBOTO-REGULAR.TTF'); /* IE9 Compat Modes */
}

body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  height: 10px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

img{
    appearance:normal;
    -moz-appearance:normal; /* Firefox */
    -webkit-appearance:normal; /* Safari and Chrome */
}

body
{
    background:#fff;
    font-family: 'Open Sans', sans-serif;
}

.border{
    border:1px solid #000;
}

.paddingless
{
    padding: 0px !important;
}

.marginless{
    margin: 0px !important;
}

.bp-thumb
{
    -webkit-transition:all 0.2s ease-in-out;
     min-width:100%; padding:0; height:230px; margin-bottom:20px;
}

a{
    color:#2582fc;
}

#comment-block{
    -webkit-transition: 0.15s all ease-in-out;
    -moz-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
    opacity:0.8;
}

#comment-block:hover{
    opacity:1;
}

.carrier{
    overflow:hidden;
    height:230px;
}

.carrier:hover .bp-thumb{
    -webkit-filter:blur(2px);
    -moz-filter:blur(2px);
    filter: blur(2px);
}

.carrier:hover .caption{
    opacity:1;
    transform: translateY(-265px);
    -webkit-transform:translateY(-265px);
	-moz-transform:translateY(-265px);
	-ms-transform:translateY(-265px);
	-o-transform:translateY(-265px);
}

.carrier .caption{
	opacity: 0;
	position:relative;
	top:15px;

	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;

}

.forumboard_wrapper:nth-child(odd){
    background:#2582fc;
    color:#fff;
    padding:5px;
}

.forumboard_wrapper:nth-child(odd) a{
    color:#fff;
}

.forumboard_wrapper:nth-child(even){
    background:#fff;
    color: #2582fc;
    padding:10px;
}


.carrier .blur{
	background-color: rgba(0,0,0,0.4);
	height: 230px;
	z-index: 5;
}

.sidebar{
    overflow:hidden;
}

.nav-list{
    list-style:none;
    background:#fff;
    margin-top:15px;

}

.nav-list li{
    border-bottom:1px solid #ededed;
    margin-bottom:17px;
}

.nav-list a {
    color:#2582fc;
    font-size:14px;
}

.carrier .caption-text a{

	font-size: 19px;
	color:#ececec;
	margin-top:-80px;
}

.carrier .caption-text p{
	font-size: 14px;
	color:#ececec;
	margin:0;
	margin-top:40px;
}
.carrier .caption-text{
	z-index: 10;
	color: #fff;
	text-align: center;
	position:relative;
	padding:15px;
	bottom:120px;
}

.button-outline
{
    color:#888;
    border-radius:20px;
    border:1px solid #888;
    padding:10px;
}

#news-post
{
    -webkit-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    margin-bottom:-5px;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    color:#2582fc;
}

p{
    word-wrap: break-word;
}

.comment-callout{
    border:1px solid #dbdbdb;
    background:#fff;
    opacity:0.65;

    transition:0.3s all ease-in-out;
    -webkit-transition:0.3s all ease-in-out;
    -moz-transition:0.3s all ease-in-out;
}

.comment-callout:hover{
    opacity:1;

}

.button{
    background:#2582fc;
    border:none;
    font-weight:bold;
}

.em{
    font-size:26px;
    -webkit-appearance: normal;
}

.row{
    padding:25px;
}

.top-bar
{
    background:#1985A1;
    border-bottom:3px solid rgba(76,92,104,0.5);
    border-top:2px solid rgba(76,92,104,0.3);

    overflow:hidden;
}

.top-bar > .title-area > .name h1 > a
{
    color:#fff;
    font-weight:bold;
}

.top-bar-section ul li
{
    background:none;
}

.top-bar-section ul li a:hover
{
    background:#000;
}

.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button):hover
{
    background:none;
    border-right:1px solid rgba(76,92,104,0.5);
}

.top-bar-section li:not(.has-form) a:not(.button):hover
{
    text-decoration:underline;
}

.top-bar-section .right li .dropdown
{
    background:#000;
}

/*.panel {
    /*border:1px solid #e7e7e7;
    border:none;
    border-bottom:3px solid #c5c5c5;
    border-radius:11px !important;

    background:#f5f5f5;
    margin:0;
}*/

.panel h2{
    color:#1985A1;
}
.post-title {
    color:#2582fc;
    font-size:60px;
}

.post_title {
    color: #2582fc;
    opacity:0;
    font-size:29px;
}

.post-meta{
    color:#1e1e1e;
    font-size: 14px;
}

.post-thumb-header{

}

.post-thumb{
    width:120%;
    margin-top:-10%;
    height:800px;
    -webkit-filter:blur(9px);
    -moz-filter:blur(9px);
    filter:blur(9px);
}

.editor{
    text-align:left;
    height:300px;
    padding:45px;
    background:#fff;
    border:1px solid #cecece;
    overflow:auto;
}

.icon{
    color:#636363;
    font-size:27px;
}

.blogpost-comment-panel
{
    -webkit-transition:0.2s all ease-in-out;
    transition:0.2s all ease-in-out;
    opacity:0.888;
    margin-bottom:7px;
}

.blogpost-comment-panel:hover
{
    opacity:1;
}