<div class="row">
    <div class="small-6 columns">
        <a class="button hollow" ng-href="#/create_board"><i class="fi-plus"></i> Create A Board</a>
    </div>
</div>
<div style="overflow:hidden;">
    <div class="forumboard_wrapper animated bounceInDown" ng-repeat="board in forum_boards">
        <u-row>
            <u-layout l="small-12">
                <h1 class="hide-for-small-only">
                    <a style="margin-right:15px; font-size:18px; margin-top:-10px;" ng-click="forum_boards_remover(board.id)" ng-if="isAdmin">
                        <i class="fi-x"></i>
                    </a>
                    <a style="margin-right:7px; font-size:18px; margin-top:-10px;" ng-href="#/edit_board/{{board.id}}" ng-if="isAdmin">
                        <i class="fi-pencil"></i>
                    </a>
                    <a ng-href="#/board/{{board.id}}">{{ board.title }}</a>

                    </h1>
                <h1 class="show-for-small-only">
                    <a style="margin-right:15px; font-size:18px; margin-top:-10px;" ng-click="forum_boards_remover(board.id)" ng-if="isAdmin"><i class="fi-x"></i></a><a style="font-size:45px;" ng-href="#/board/{{board.id}}">{{ board.title }}</a></h1>
                <p>{{ board.description }}</p>
            </u-layout>
        </u-row>
    </div>
</div>