<div ng-init="get_forum_topics(obj.id)">
      <div style="background:#2582fc;">
            <u-row class="align-middle" style="">
                <u-layout l="small-12">
                    <div ng-if="isAdmin" style="margin-bottom:10px;">
                        <a class="float-left" style="color:#fff; font-size:15px;" ng-href="#/edit_board/{{obj.id}}"><i class="fi-pencil"></i></a>
                        <a class="float-right" style="color:#fff; margin-left:20px;  font-size:15px;" ng-click="forum_topics_remover(obj.id)"><i class="fi-x"></i></a>
                        <hr style="margin-top:10px; margin-bottom:0px; opacity:0;">
                    </div>
                    <h1 style="color:#fff;">{{ obj.title }}</h1>
                    <h6 style="color:#fff;">{{ obj.description }}</h6>
                </u-layout>
            </u-row>
        </div>
    <u-row>
        <u-layout l="small-12">
            <div class="row paddingless" style="margin-bottom: 30px;">
                <div class="small-6 columns">
                    <a ng-href="#/forums" class="float-left"><i class="fi-arrow-left"></i> Visit Boardz</a>
                </div>
                <div class="small-6 columns">
                    <a ng-href="#/create_topic/{{obj.id}}" class="float-right"><i class="fi-plus"></i> Create A Topic</a>
                </div>
            </div>
        </u-layout>
        <u-layout l="small-12 animated fadeInDown paddingless" ng-repeat="topic in child_forum_topics | orderBy: '-createdAt' | limitTo: child_forum_topics_limit()">
            <div class="callout" style="border:1px solid #bbb">
                <h2 style="font-size:24px; font-weight:bold;"><a ng-href="#/topic/{{topic.id}}">{{topic.title}}</a></h2>
                <p style="font-size:14px; color:#555; margin:0;">By, {{ getObject('users', 'id', topic.user_id).display_name }}, <em style="color:#a0a0a0; font-size:13.5px;">{{topic.createdAt | timeago }}</em></p>
            </div>
        </u-layout>
        <u-layout l="small-12 text-center">
            <a ng-if="hasMore_child_forum_topics()" ng-click="show_child_forum_topics()" class="button hollow">View More</a>
            <a ng-if="!hasMore_child_forum_topics()" ng-click="hide_child_forum_topics()" class="button hollow">Hide</a>
        </u-layout>
    </u-row>
</div>