<div class="row">
    <div class="small-11 columns">
        <h2 class="callout" ng-if="board_updated">Board updated!</h2>
        <form>
            <input type="text" ng-model="obj.title" />
            <textarea rows="15" ng-model="obj.description">

            </textarea>
            <input type="button" class="button hollow" value="Save Changes" ng-click="forum_boards_inserter(obj)" />
        </form>
    </div>
</div>