<u-row>
    <u-row>
        <u-layout l="small-12">
            <h4 class="callout" ng-if="topic_added">Topic created, <a ng-href="#/board/{{child}}">Go To Board</a></h4>
            <h4 class="callout" ng-if="topic_edited">Topic updated, <a ng-href="#/topic/{{obj.id}}">Go To Topic</a></h4>
            <h1>{{ parent_obj.title }}</h1>
        </u-layout>
    </u-row>
    <u-row>
        <u-layout l="small-3">
            <div class="callout">
            <h5>Guidelines</h5>
            <hr>
            <ul>
                <li>No Profanity</li>
                <li>Be as precise as possible wih questions</li>
                <li>Stay on topic with the board, or your topic will be deleted.</li>
                <li>Please refrain from messy grammer, for it could be complicated for others to understand you.</li>
                <li>Respect others :)</li>
            </ul>
            </div>
            <div class="callout">
                <h5>Recent Topics</h5>
                <hr>
                <div ng-repeat="topic in topics | orderBy: '-createdAt' | limitTo: 5">
                    <a ng-href="#/topic/{{topic.id}}">{{topic.title}}</a>
                    <p>{{topic.createdAt | timeago}}</p>
                </div>
            </div>
        </u-layout>
        <u-layout l="small-9">
            <input type="text" ng-model="obj.title"/>
            <u-editor type="l" eid="topicBodyField"></u-editor>
        </u-layout>
    </u-row>
</u-row>