<div class="animated fadeIn">
<div style="background:#2582fc;">
    <u-row class="align-middle" style="">
        <u-layout l="small-12">
            <div ng-if="currentUser.id == obj.user_id || isAdmin">
                <a class="button small hollow float-left" style="color:#fff;" ng-href="#/edit_topic/{{obj.id}}"><i class="fi-page-edit"></i></a>
                <a class="button small  hollow float-right" style="color:#fff; margin-left:20px;" ng-click="forum_topics_remover(obj.id)"><i class="fi-x"></i></a>
            </div><hr style="opacity:0; margin:0;">
            <h1 style="color:#fff;">{{ obj.title }}</h1>
            <h6 style="color:#fff;">Posted By, <a style="color:#fff" ng-href="#/user/{{getObject('users', 'id', obj.user_id).id}}">{{getObject('users', 'id', obj.user_id).display_name }}</a>, <em style="font-size:13px;">{{ obj.createdAt | timeago }}</em></h6>
        </u-layout>
    </u-row>
</div>
<u-row>
    <u-layout l="small-12">
        <div>
            <h5><a class="button hollow" ng-href="#/board/{{parentObj.id}}">Visit {{parentObj.title}} Topics</a></h5>
        </div>
        <div >
            <p ng-bind-html="obj.body"></p>
        </div>
    </u-layout>
</u-row>
<div style="background:#f4f4f4; border-top:1px solid #ccc; padding:20px; overflow:hidden" ng-init="get_forum_comments(obj.id)">
    <u-row>
        <u-layout l="small-12">
            <u-editor type="l" eid="replyField"></u-editor>
            <div style="margin-bottom:50px" ng-repeat="reply in child_forum_comments | orderBy: '-createdAt' | limitTo: child_forum_comments_limit()">
                <div class="row paddingless animated bounceInRight">
                    <u-layout l="small-1 hide-for-small-only hide-for-medium-only">
                        <img class="thumbnail" src="{{getObject('users', 'id', reply.user_id).picture}}" alt="" style="border-radius:50%; height:50px;" />
                    </u-layout>
                    <div class="columns">
                    <div ng-if="isAdmin || getUser(reply.user_id).id == currentUser.id">
                            <a ng-click="forum_comments_remover(reply.id)" style="margin-left:25px" class="float-right"><i class="fi-x"></i></a>
                        </div>
                        <p style="font-style:italic; font-size:14px;">{{ getObject('users', 'id', reply.user_id).display_name }} said,</p>
                        <p ng-bind-html="reply.comment"  class="callout"></p>
                        <abbr style="font-size:13px; font-style:italic;" class="float-right">{{ reply.createdAt | timeago }}</abbr>
                    </div>
                </div>
            </div>
        </u-layout>
    </u-row>
    <div class="text-center">
    <a ng-if="hasMore_child_forum_comments()" ng-click="show_child_forum_comments()" class="button hollow text-center">Show More</a>
    <a ng-if="!hasMore_child_forum_comments()" ng-click="hide_child_forum_comments()" class="button hollow text-center">Hide</a>
    </div>
</div>
</div>