<u-row>
    <u-layout l="small-11">
        <h5 ng-if="mail_sent" class="callout success">Email Sent!</h5>
        <form>
            <input type="text" ng-model="email.email" placeholder="To:" />
            <input type="text" ng-model="email.subject" placeholder="Subject:" />
            <textarea rows="7" ng-model="email.message"></textarea>
            <input type="button" class="button hollow" value="Send" ng-click="send_mail(email)" />
        </form>
    </u-layout>
</u-row>