<u-row>
    <div class="small-12 columns">
        <form>
            <h5>Bio</h5>
            <textarea type="text" ng-model="obj.bio" rows="5">

            </textarea>
            <h5>Interests</h5>
            <input type="text" ng-model="obj.interests" placeholder="Interests" />
            <input type="button" class="button hollow" ng-click="profiles_inserter(obj)" value="Create">
        </form>
    </div>
</u-row>