<u-row style="overflow:hidden">
    <u-layout l="small-11">
        <p ng-if="profile_updated" class="callout animated bounceInDown">Profile Updated!</p>
        <u-form t="manageProfileForm"></u-form>
    </u-layout>
</u-row>