<u-row class="animated fadeIn" style="overflow:hidden">
    <u-layout l="small-11">
        <p ng-if="userUpdated" class="callout info animated bounceInDown">Updated! <a ng-href="#/user/{{obj.id}}">Go to profile</a></p>
        <u-form t="manageAccountForm"></u-form>
    </u-layout>
</u-row>