<div class="animated fadeIn">
<div>
    <div style="height:250px; overflow:hidden; width:120%; position:relative; right:15px; z-index:9" class="text-center post-thumb-header">

        <img  ng-src="{{obj.picture}}" class="post-thumb" alt=""  />
    </div>
    <div style="overflow:hidden;  position:relative; z-index:9; margin-top:-250px;" class="text-center">
        <div class="row align-middle align-center" style="height:250px;">
            <div class="small-12 paddingless" style="margin-bottom:-60px;">
                <h1 style="color:#fff; font-size:40px;">{{ obj.display_name }}</h1>
            </div>
            <div class="small-12 columns">
                <p ng-if="obj.rank == 'a'" class="text-center" style="color:#efefef; font-size:17px;">Administrator</p>
                <p ng-if="obj.rank == 'md'" class="text-center" style="color:#efefef; font-size:17px;">Moderator</p>
                <p ng-if="obj.rank == 'm'" class="text-center" style="color:#efefef; font-size:17px;">Member</p>
            </div>
            <div class="small-12 paddingless" style="margin-top:-30px;">
                <i ng-if="obj.authType == 'facebook'" style="font-size:33px; margin-left:5px; color:#2582fc" class="fi-social-facebook"></i>
                <i ng-if="obj.authType == 'twitter'"style="font-size:33px; margin-left:5px; color:#2582fc" class="fi-social-twitter"></i>
                <i ng-if="obj.authType == 'google'" style="font-size:33px; margin-left:5px; color:#2582fc" class="fi-social-google-plus"></i>
                <p ng-if="obj.authType == '' || obj.authType == 'internal'" style="font-size:33px; margin-left:5px; color:#2582fc"><img ng-src="media/img/unoIcon.png" alt="" width="30" height="30"/></p>
            </div>
        </div>
    </div>
</div>
<div style="background:#2582fc; height:60px;">
    <u-row>
        <u-layout l="small-12">
            <p class="text-center" style="margin-top:-6px;"><span style="font-size:16px; color:#fff">Balance: </span><span style="font-weight:bold; color:#fff; font-size:15px;" class="text-center">{{ userProfile.balance | currency }}</span></p>
        </u-layout>
    </u-row>
</div>
<div ng-if="currentUser.id == obj.id">
    <u-row ng-if="userProfile.id">
        <a ng-href="#/manage_account/{{obj.id}}" style="" class="float-right">Manage Account</a>
        <p style="margin:25px 25px; margin-top:0; color:#999">/</p>
        <a ng-href="#/manage_profile/{{userProfile.id}}" class="float-right">Edit Profile</a>
        <p>{{ location }}</p>
    </u-row>
    <u-row align="align-center" ng-if="!userProfile.id">
        <a href="#/create_profile/{{obj.id}}" class="button hollow"><i class="fi-plus"></i>Create Profile</a>
    </u-row>
</div>
<u-row>
    <u-layout l="small-12" ng-if="userProfile">
        <h3 class="text-center">About Me</h3>
        <p class="text-center">{{userProfile.bio}}</p>
    </u-layout>
    <h2 ng-if="!userProfile">User hasn't setup their profile yet.</h2>
    <hr>
</u-row>
<u-row class="hide-for-small-only hide-for-medium-only">
    <u-layout l="small-4">
            <div ng-if="userProfile">
                <h3>Interests</h3>
                <div class="callout">
                    <p>{{userProfile.interests}}</p>
                </div>
            </div>
            <div ng-if="userPosts.length" style="margin-top:40px">
                <h3>My Posts</h3>

                <div ng-repeat="post in userPosts | orderBy: '-createdAt' | limitTo: userPosts_limit()">
                    <hr ng-if="$index != 0" style=" margin-bottom:7px; margin-top:8px; opacity:0.3">
                    <h5 style="margin:0"><a ng-href="#/news/{{post.id}}">{{ post.title }}</a></h5>
                    <span style="font-size:12px; margin-top:-25px; font-weight:bold; color:#999">{{ post.createdAt | timeago}}</span>
                    <!--<div class="animated fadeIn" style="margin-top:-9px;">
                        <span style="font-size:13px;"><i class="fi-like" style="color:#2582fc; font-size:16px; margin-right:5px;"></i>{{post.likes}} Likes</span>
                        <span style="font-size:13px; margin-left:20px;"><i class="fi-comments" style="color:#2582fc; font-size:16px; margin-right:5px;"></i>{{commentCount(post.id)}} Comments</span>
                    </div>-->
                </div>
                <div class="text-center" style="margin-top:20px;">
                    <a ng-if="hasMore_userPosts()" class="button hollow small text-center" ng-click="show_userPosts()">{{ view }}</a>
                    <a ng-if="!hasMore_userPosts()" ng-click="hide_userPosts()" class="button hollow small">Hide</a>
                </div>
            </div>
            <div ng-if="!userPosts.length">
                <h5>No posts to display.</h5>
            </div>

            <div ng-if="userTopics.length" style="margin-top:40px;">
                <h3>My Topics</h3>
                <div ng-repeat="topic in userTopics | orderBy: '-createdAt' | limitTo: userTopics_limit()">
                    <hr ng-if="$index != 0" style=" margin-bottom:7px; margin-top:8px; opacity:0.3">
                    <h5 style="margin:0;"><a ng-href="#/topic/{{topic.id}}">{{ topic.title }}</a></h5>
                    <span style="font-size:12px; margin-top:-25px; font-weight:bold; color:#999">{{ topic.createdAt | timeago}}</span>
                </div>
            </div>
            <div class="text-center" style="margin-top:20px;">
            <a ng-if="hasMore_userTopics()" class="button small hollow text-center" ng-click="show_userTopics()">{{ view }}</a>
            <a ng-if="!hasMore_userTopics()" ng-click="hide_userTopics()" class="button small hollow">Hide</a>
            </div>
            <div ng-if="!userTopics.length">
                <h5>No topics to display</h5>
            </div>
    </u-layout>
    <u-column ng-if="userComments.length">
        <h3>Blog Activity</h3>
        <div>
            <div ng-repeat="com in userComments | orderBy:  '-createdAt' | limitTo: userComments_limit()">
                <hr ng-if="$index != 0" style=" margin-bottom:7px; margin-top:8px; opacity:0.5">
                <p style="font-size:15px;">
                    <span ng-if="getUser(com.user_id).display_name == currentUser.display_name">You</span>
                    <span ng-if="getUser(com.user_id).display_name != currentUser.display_name">
                        <a href="#/user/{{getUser(com.user_id).id}}">{{ getUser(com.user_id).display_name }}</a>
                    </span> commented on
                    <a ng-href="#/news/{{ getObject('blog_posts', 'id', com.parent_id).id }}"<em style="color:#2582fc">{{ getObject('blog_posts', 'id', com.parent_id).title }}</em>
                    <span style="font-size:12px; margin-left:7px;">{{ com.createdAt | timeago}}</span>
                </p>
                <p style="font-style:italic; font-size:12px;">
                    <blockquote ng-bind-html="com.comment"></blockquote>
                </p>
            </div>
            <div class="text-center">
                <a ng-if="hasMore_userComments()" class="button small hollow" ng-click="show_userComments()">{{ view }}</a>
                <a ng-if="!hasMore_userComments()" ng-click="hide_userComments()" class="button small hollow">Hide</a>
            </div>
        </div>
    </u-column>
    <u-column ng-if="!userComments.length">
        <h2>No blog posts to view..</h2>
    </u-column>
</u-row>


<!-------------------------- MOBILE ------------------------------->


<div class="hide-for-large">
    <u-layout l="small-12" style="margin-top:15px;">
        <div ng-if="userProfile">
            <h1 style="font-size:28px;">Interests</h1>
            <div class="callout" style="width:100%">
                <p>{{userProfile.interests}}</p>
            </div>
        </div>
        <div ng-if="userComments.length" style="margin-top:60px;">
            <h2 style="font-size:28px;">Blog Activity</h2>
            <div>
                <div ng-repeat="com in userComments | orderBy:  '-createdAt' | limitTo: userComments_limit()">
                    <hr ng-if="$index != 0" style=" margin-bottom:7px; margin-top:8px; opacity:0.5">
                    <p style="font-size:15px;">
                        <span ng-if="getUser(com.user_id).display_name == currentUser.display_name">You</span>
                        <span ng-if="getUser(com.user_id).display_name != currentUser.display_name">
                            <a href="#/user/{{getUser(com.user_id).id}}">{{ getUser(com.user_id).display_name }}</a>
                        </span> commented on
                        <em style="color:#2582fc">{{ getObject('blog_posts', 'id', com.parent_id).title }}</em>
                        <span style="font-size:12px; margin-left:17px;">{{ com.createdAt | timeago}}</span>
                    </p>
                    <p style="font-style:italic; font-size:12px;"><blockquote ng-bind-html="com.comment"></blockquote></p>
                </div>
                <div class="text-center" style="margin-top:30px;">
                    <a ng-if="hasMore_userComments()" class="button small hollow text-center" ng-click="show_userComments()">{{ view }}</a>
                    <a ng-if="!hasMore_userComments()" ng-click="hide_userComments()" class="button small hollow">Hide</a>
                </div>
            </div>
        </div>
        <div ng-if="!userComments.length">
            <h3 class="text-center">No blog activity to view.</h3>
            <hr style="opacity:0.4">
        </div>

    </u-layout>
    <u-layout l="small-12" style="margin-top:30px;">
        <div ng-if="userPosts.length">
            <h1 style="font-size:28px;">My Posts</h1>
            <hr>
            <div>
            <div ng-repeat="post in userPosts | orderBy: '-createdAt' | limitTo: userPosts_limit()">
                <h5>
                    <a ng-href="#/news/{{post.id}}" style="font-size:19px; margin-top:20px;">{{ post.title }}
                        <p style="font-size:14px; color:#999; font-size:13px; font-weight:bold;">posted {{ post.createdAt | timeago }}</p>
                    </a>
                </h5>
            </div>
            </div>
            <div class="text-center" style="margin-top:30px;">
                <a ng-if="hasMore_userPosts()" class="button small hollow text-center" ng-click="show_userPosts()">{{ view }}</a>
                <a ng-if="!hasMore_userPosts()" ng-click="hide_userPosts()" class="button small hollow">Hide</a>
            </div>
        </div>

        <h3 ng-if="!userPosts.length">No posts to display.</h3>
        <h3 ng-if="!userTopics.length">No topics to display.</h3>
        <div ng-if="userTopics.length" style="margin-top:60px;">
            <h2 style="font-size:28px;">My Topics</h2>
            <hr>
            <div>
            <div ng-repeat="topic in userTopics | orderBy: '-createdAt' | limitTo: userTopics_limit()">
                <h5>
                <a ng-href="#/topic/{{topic.id}}" style="font-size:19px; margin-bottom:20px;">{{ topic.title }}
                    <p style="font-size:14px; color:#999; font-size:13px; font-weight:bold;">posted {{ topic.createdAt | timeago }}</p>
                </a>


                </h5>
            </div>
            </div>
             <div class="text-center" style="margin-top:30px;">
                <a ng-if="hasMore_userComments()" class="button small hollow" ng-click="show_userComments()">{{ view }}</a>
                <a ng-if="!hasMore_userComments()" ng-click="hide_userComments()" class="button small hollow">Hide</a>
            </div>
        </div>
    </u-layout>
</div>

</div>