<div class="text-center">
    <div class="expanded">
        <button class="button" style="padding:5px; font-size:30px;" ng-click="format('p')">P</button>
        <button class="button" style="padding:5px; font-size:30px;" ng-click="format('h1')">H1</button>
        <button class="button" style="padding:5px; font-size:30px;" ng-click="format('h2')">H2</button>
        <button class="button" style="padding:5px; font-size:30px;" ng-click="format('h3')">H3</button>
        <button class="button" style="padding:5px; font-size:30px;" ng-click="format('bold')"><i class="fi-bold"></i></button>
        <button class="button" style="padding:5px; font-size:30px;" ng-click="format('italic')"><i class="fi-italic"></i></button>
        <button class="button" style="font-weight:bold;padding:5px; font-size:30px;" ng-click="justify('left')"><i class="fi-align-left"></i></button>
        <button class="button" style="font-weight:bold;padding:5px; font-size:30px;" ng-click="justify('center')"><i class="fi-align-center"></i></button>
        <button class="button" style="font-weight:bold;padding:5px; font-size:30px;" ng-click="justify('right')"><i class="fi-align-right"></i></button>
        <button class="button" style="font-weight:bold;padding:5px; font-size:30px;" ng-click="addLink()"><i class="fi-link"></i></button>
        <button class="button" style="font-weight:bold;padding:5px; font-size:30px;" ng-click="addVid()"><i class="fi-social-youtube"></i></button>
        <button class="button" style="font-weight:bold;padding:5px; font-size:30px;" ng-click="toggleEmojis()"><i class="fi-heart"></i></button>
        <button class="button" style="font-weight:bold;padding:5px; font-size:30px;" ngf-select="uploadAttachment('vid', $files)" ngf-multiple="true" ng-model="files" ngf-pattern="'video/*'" ngf-accept="'video/*'"><i class="fi-video"></i></button>
        <button class=" button" style="font-weight:bold;padding:5px; font-size:30px;" ngf-select="uploadAttachment('img', $files)" ngf-multiple="true" ng-model="files" ngf-pattern="'image/*'" ngf-accept="'image/*'"><i class="fi-photo"></i></button>
    </div>
    <div class="animated fadeIn callout" ng-show="showEmoji">
        <span ng-repeat="emo in emos">
            <a ng-click="renderEmoji(emo)"><i class="em em-{{emo}}"></i></a>
        </span>
    </div>
    <div class="editor" id="{{eId}}" ng-bind-html="inputText" contenteditable="true"></div>
    <div ng-switch on="attachType">
        <div ng-switch-when="img"><img ng-if="preview" style="width:210px; height:210px; margin:15px;" src="{{preview}}" alt="" /></div>
        <div ng-switch-when="vid"><video ng-if="preview" controls><source ng-src="{{preview}}" type="video/mp4"></video></div>
    </div>
    <input type="submit" class="button radius" ng-click="submit_editor(obj)" value="Add Comment" />
</div>