<form style="overflow:hidden">
    <h5 ng-if="loggingIn == true" class="callout primary animated bounceInDown" style="color:#2582fc">Logging In...</h5>
    <h5 ng-if="loggedIn == true" class="callout success animated bounceInDown" style="color:#2582fc">Welcome, <b>{{getObject('users', 'id', currentUser.id).display_name}}</b>!</h5>
    <input type="text" ng-model="user.email" placeholder="Email" />
    <input type="text" ng-model="user.password" placeholder="password" />
    <div class="row paddingless">
        <div class="small-12 columns paddingless">
            <div class="callout">
                <a ng-click="login(user, 'facebook')">
                    <i class="fi-social-facebook" style="font-size: 45px; color:#2582fc;"></i>
                </a>
                <a ng-click="login(user, 'twitter')">
                    <i class="fi-social-twitter" style="font-size: 45px; color:#2582fc;"></i>
                </a>
                <a ng-click="login(user, 'google')">
                    <i class="fi-social-google-plus" style="font-size: 45px; color:#2582fc;"></i>
                </a>
            </div>
        </div>
    </div>
    <input type="button" class="button small radius" ng-click="login(user, 'internal')" value="Login"/>
</form>