<form>
    <textarea ng-model="obj.bio" rows="5">

    </textarea>
    <input type="text" ng-model="obj.interests" />
    <input type="button" class="hollow button" ng-click="profiles_updater(obj)" value="Save Changes" />
</form>