<form>
    <u-progress></u-progress>
    <h3 class="callout" ng-if="user_updated">Account Updated!!!!</h3>
    <h5>Display Name</h5>
    <input type="text" ng-model="obj.display_name" />
    <div ng-if="obj.authType == 'internal'">
        <h5>Current Password</h5>
        <input type="password" ng-model="obj.password" />
        <h5>New Password</h5>
        <input type="password" ng-model="obj.new_password" />
    </div>
    <div class="callout">
        <img src="{{thumb}}" alt="" width="170" height="170" class="thumbnail"/>
        <u-upload action="uploadPicture" file="image/*"></u-upload>
        <div ng-show="uploadPicture_isUploading"><span style="height:20px; color:#000; width: {{progress}}%"></span></div>
    </div>
    <input type="button" class="hollow button" ng-click="users_updater(obj)" value="Save Changes"/>
</form>