<div ng-if="currentUser" class="row align-stretch" style="padding:0px;">
    <div class="columns paddingless">
        <a class="text-right" ng-href="#/user/{{currentUser.id}}"><img data-tooltip title="{{currentUser.display_name}}" src="{{currentUser.picture}}" alt="" style="border-radius:50%; width:40px; height:40px;"/></a>
    </div>
</div>