<div class="panel radius text-center">
    <ul class="inline-list">
        <li><a href="#/">Home</a></li>
        <li><a href="#/news">News</a></li>
        <li><a href="#/portfolio">Portfolio</a></li>
        <li><a href="#/sykes">Sykes</a></li>
    </ul>
</div>