<div class="row align-center">
{{ testObj }}
    <div class="small-12 columns">
        <div ng-show="isUploading" class="progress animated fadeIn" role="progressbar" tabindex="0">
            <span class="progress-meter" style="width: {{progress}}%"></span>
        </div>
        <h5 class="callout success animated bounceIn" ng-if="post_added">Post Added! <a href="#/news" class="button hollow">View Posts</a></h5>
        <h5 class="callout success animated bounceIn" ng-if="post_updated">Post Updated! <a href="#/news" class="button hollow">View Posts</a></h5>
        <form enctype="multipart/form-data">
            <input type="text" placeholder="Title" ng-model="obj.title"/>
            <input type="text" placeholder="Tags (seperate with commas)" ng-model="obj.tags" />
            <input type="text" placeholder="Category" ng-model="obj.category" />
            <div class="callout">
                <div class="hollow button" ngf-select="uploadThumb($files)" ng-model="files" ngf-pattern="'image/*'" ngf-accept="'image/*'">Upload a thumbnail</div>
                <img src="{{thumb}}" alt="" style="width:150px; height:150px;" />
            </div>
            <u-layout l="small-12" ng-if="currentUser">
                    <u-editor type="l" eid="postBodyField"></u-editor>
                </u-layout>
        </form>
    </div>
</div>