<div class="row">
    <div class="small-6 columns paddingless">
        <a ng-href="#/edit_post" class="button hollow" ng-if="isAdmin">Create a post</a>
    </div>
</div>
<div class="row">
    <input type="text" ng-model="postTitle" placeholder="Search Posts." style="margin-bottom:15px;" />
</div>
<div>
    <div class="show-for-large">
        <div class="row">
            <div class="small-4 columns" ng-repeat="obj in blog_posts | orderBy: '-createdAt' | limitTo: blog_posts_limit() | filter:{tags:postTitle}">
                    <div class="post_wrapper animated fadeIn" ng-init="get_children(obj.id)">
                        <img class="thumbnail text-center post_thumb" src="{{obj.picture}}" alt="" style="height:230px; width:100%;"/>
                        <a href="#/news/{{obj.id}}"><h2 class=" text-center">{{ obj.title.substr(0,25) }}<span ng-if="obj.title.length > 25">..</span><p style="font-size:14px;color:#777">By {{ getUser(obj.user_id).display_name }}</p></h2></a>
                        <hr>
                        <div>
                            <div class="row">
                                <p class="columns text-center" style="font-size:13px;"><a ng-click="likePost(obj.id)"><i style="font-size:16px; margin-right:4px;" class="fi-like"></i></a>{{obj.likes}} Likes</p>
                                <p class="columns text-center" style="font-size:13px;"><i class="fi-comments" style="margin-right:4px; font-size:16px; color:#2582fc"></i>{{ getChildLength(obj.id, 'blog_comments').length }} Comments</p>
                            </div>
                        </div>
                        <hr style="margin:0px;">
                    </div>
            </div>
        </div>
    </div>
    <div class="show-for-medium-only">
        <div class="row">
            <div class="small-12 columns" ng-repeat="obj in blog_posts | orderBy: '-createdAt' | limitTo: blog_posts_limit() | filter:{tags:postTitle}">
                <div ng-init="get_children(obj.id)">
                    <img class="thumbnail text-center post_thumb" src="{{obj.picture}}" alt="" style="height:230px; width:100%;"/>
                    <a href="#/news/{{obj.id}}"><h2 class=" text-center">{{ obj.title.substr(0,25) }}<span ng-if="obj.title.length > 25">..</span><p style="font-size:14px;color:#777">By {{ getUser(obj.user_id).display_name }}</p></h2></a>
                    <hr>
                    <div>
                        <div class="row">
                            <p class="small-6 columns text-center" style="font-size:13px;"><a ng-click="likePost(obj.id)"><i style="font-size:16px; margin-right:4px;" class="fi-like"></i></a>{{obj.likes}} Likes</p>
                            <p class="columns text-center" style="font-size:13px;"><i class="fi-comments" style="margin-right:4px; font-size:16px; color:#2582fc"></i>{{ getChildLength(obj.id, 'blog_comments').length }} Comments</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="show-for-small-only">
        <div class="row">

            <div class="small-12 columns" ng-repeat="obj in blog_posts | orderBy: '-createdAt' | limitTo: blog_posts_limit() | filter:{title:postTitle}">
                <div ng-init="get_children(obj.id)">
                    <img class="thumbnail text-center post_thumb" src="{{obj.picture}}" alt="" style="height:230px; width:100%;"/>
                    <a href="#/news/{{obj.id}}"><h2 class=" text-center">{{ obj.title.substr(0,25) }}<span ng-if="obj.title.length > 25">..</span><p style="font-size:14px;color:#777">By {{ getUser(obj.user_id).display_name }}</p></h2></a>
                    <hr>
                    <div>
                        <div class="row">
                            <p class="small-6 columns text-center" style="font-size:13px;"><a ng-click="likePost(obj.id)"><i style="font-size:16px; margin-right:4px;" class="fi-like"></i></a>{{obj.likes}} Likes</p>
                            <p class="columns text-center" style="font-size:13px;"><i class="fi-comments" style="margin-right:4px; font-size:16px; color:#2582fc"></i>{{ getChildLength(obj.id, 'blog_comments').length }} Comments</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a ng-if="hasMore_blog_posts()" ng-click="show_blog_posts()" class="button radius">View More</a>
    <a ng-if="!hasMore_blog_posts()" ng-click="hide_blog_posts()" class="button radius">Hide</a>
</div>