<div class="animated fadeIn" ng-init="get_blog_comments(obj.id)">
        <div style="height:350px; overflow:hidden; width:105%; position:relative; right:15px; z-index:-999" class="text-center post-thumb-header">
            <img ng-src="{{obj.picture}}" class="post-thumb" alt="" style=""/>
        </div>
        <u-row>
            <h5 class="callout success animated bounceIn small-12 columns" ng-if="post_deleted">Post Deleted! <a href="#/news" class="button hollow">View Posts</a></h5>
        </u-row>

            <u-row>
                <u-layout l="small-6">
                    <a ng-href="#/news" style="font-size:22px;"><i class="fi-arrow-left" style="margin-right:7px;"></i></a>
                </u-layout>
                <u-column align="text-right">
                    <a ng-if="isAdmin" ng-click="blog_posts_remover(obj.id)" style="font-size:22px;" class="float-right"><i class="fi-x"></i></a>
                    <a ng-if="isAdmin" ng-href="#/edit_post/{{obj.id}}" style="margin-right:20px; font-size:22px;" class="float-right"><i class="fi-pencil"></i></a>
                </u-column>
            </u-row>

        <u-row>
            <u-layout l="small-12"><h1 class="text-center post-title">{{obj.title}}</h1></u-layout>
            <u-column><p class="text-center post-meta">Posted By, <a ng-href="#/user/{{obj.user_id}}">{{ getUser(obj.user_id).display_name }}</a> <em style="margin-left:9px;">{{ obj.createdAt | timeago }}</em></p></u-column>
        </u-row>

        <div class="hide-for-small-only">
            <u-row align="align-center">
                <u-layout l="small-3">
                    <a ng-click="likePost(obj.id)">
                        <p class="text-center" style="color:#555; font-size:13px;"><i class="fi-like icon" style="margin-right:5px; color:#2582fc"></i>
                            <span style="color:#555;">{{obj.likes}}</span> Likes
                        </p>
                    </a>
                </u-layout>
                <u-layout l="small-3">
                    <p class="text-center" style="font-size:13px;"><i class="fi-comments icon" style="margin-right:5px; color:#2582fc"></i>
                        <span style="color:#555;">{{child_blog_comments.length}}</span> Comments
                    </p>
                </u-layout>
            </u-row>
        </div>
        <div class="show-for-small-only">
            <u-row align="align-center">
                <u-layout l="small-6">
                    <a ng-click="blog_posts_likes_mod(obj.id, 1)">
                        <p class="text-center" style="color:#555; font-size:13px;"><i class="fi-like icon" style="margin-right:5px; color:#2582fc"></i>
                            <span style="color:#555;">{{obj.likes}}</span> Likes
                        </p>
                    </a>
                </u-layout>
                <u-layout l="small-6">
                        <p class="text-center" style="color:#555; font-size:13px;"><i class="fi-comments icon" style=" margin-right:5px; color:#2582fc"></i>
                            <span style="color:#555;">{{child_blog_comments.length}}</span> Comments
                        </p>
                </u-layout>
            </u-row>
        </div>
        <div style="background:#f4f4f4; border-top:1px solid #ccc;">
        <div class="row">
            <div class="columns">
                <div ng-bind-html="obj.body"></div>
            </div>
        </div>
        </div>
        <div ng-if="parent_rels.length">
            <h3 class="text-center" style="color:#2582fc">Related Posts</h3>
            <u-row align="align-center" style="width:100%">
                <u-layout l="small-3" align="align-center" ng-repeat="relPost in parent_rels">
                    <a class="text-center" href="#/news/{{relPost.id}}"><img style="height:170px; width:100%;" ng-src="{{relPost.picture}}" class="thumbnail"/></a>
                </u-layout>
            </u-row>
        </div>
        <div style="background:#f4f4f4;">
            <div ng-if="!currentUser">Login to post comments</div>
            <div ng-if="currentUser">
            <u-row>
                <u-layout l="small-12" ng-if="currentUser">
                    <u-editor type="s" eid="comField"></u-editor>
                </u-layout>
            </u-row>
        </div>
        <div style="overflow:hidden">
        <u-row ng-repeat="c in child_blog_comments | orderBy: '-createdAt'" style="padding-bottom:0px; padding-top: 0px;">
            <u-layout l="small-12" class="animated bounceInDown paddingless">
                <u-row>
                    <u-layout l="small-1 hide-for-small-only hide-for-medium-only">
                        <img ng-src="{{getUser(c.user_id).picture}}" alt="" class="thumbnail " style="border-radius:50%; height:50px;"/>
                    </u-layout>
                    <u-column class="paddingless">
                        <div ng-if="isAdmin || getUser(c.user_id).id == currentUser.id">
                            <a ng-click="blog_comments_remover(c.id)" style="margin-left:25px" class="float-right"><i class="fi-x"></i></a>

                        </div>
                        <p style="font-size:15px; font-style:italic;">{{getUser(c.user_id).display_name}} said,</p>
                        <p ng-bind-html="c.comment" class="callout comment-callout"></p>
                        <abbr style="font-size:13px; font-style:italic;" class="float-right">{{c.createdAt | timeago}}</abbr>
                    </u-column>
                </u-row>
            </u-layout>
        </u-row>
        </div>
    </div>
    <div class="text-center" ng-ready="">
        <a ng-if="hasMore_blog_comments()" class="button hollow text-center" ng-click="show_blog_comments()">View More</a>
    </div>
</div>
